{% extends "layout.html" %}
{% block content %}
    {% for note in notes %}
        <article class="media content-section">

                <div class="media-body">
                    {% if current_user.is_authenticated %}
                    <div class="article-metadata">
                        <small class="text-muted"> {{ note.created_at.strftime('%Y-%m-%d') }} </small>
                    </div>
                    {% endif %}
                    <h3><a class="article-title" href="{{ url_for('notes.view_note', note_id=note.id) }}">{{ note.title }}</a></h3>
                    <p class="article-content">{{ note.body }}</p>
                </div>
        </article>
    {% endfor %}
{% endblock %}